# Tipos básicos en Python
Las variables en Python pueden contener diferentes tipos de números y también otras cosas como texto, imágenes y objetos más complejos.

También podemos imprimir el tipo de una variable.

Ver también
* [Tipos incorporados en Python](https://docs.python.org/3/library/stdtypes.html)
* [Tipos básicos en Python](https://realpython.com/python-data-types/)

Esto es un número entero:

In [1]:
a = 5

In [2]:
type(a)

int

Y esta es una variable de punto flotante:

In [3]:
b = 3.5

In [4]:
type(b)

float

Al combinar variables de diferentes tipos, Python toma una decisión sobre qué tipo debería tener la nueva variable

In [5]:
c = a + b

In [6]:
type(c)

float

# Cadenas
Las variables también pueden contener texto. En este caso las llamamos "cadena", y las definimos rodeando el valor con comillas simples ```' '``` o comillas dobles ```" "```:

In [7]:
first_name = "Robert"
last_name = 'Haase'

Las cadenas se pueden concatenar usando el operador `+`:

In [8]:
first_name + last_name

'RobertHaase'

In [9]:
first_name + " " + last_name

'Robert Haase'

Si queremos tener comillas simples y dobles dentro de nuestro texto, podemos ponerlas así:

In [10]:
text = "She said 'Hi'."
print(text)

She said 'Hi'.

In [11]:
text = 'He said "How are you?".'
print(text)

He said "How are you?".

## Combinando cadenas y números

Al combinar variables de tipos numéricos y tipos de cadena, pueden aparecer errores:

In [12]:
first_name + a

TypeError: can only concatenate str (not "int") to str

Estos se pueden prevenir convirtiendo la variable numérica a un tipo de cadena usando la función `str()`:

In [13]:
first_name + str(a)

'Robert5'

También puedes convertir cadenas a números en caso de que contengan números:

In [14]:
d = "5"

In [15]:
int(d)

5

In [16]:
a + int(d)

10

Si la cadena no contiene un número, puede aparecer un mensaje de error:

In [17]:
int("hello")

ValueError: invalid literal for int() with base 10: 'hello'

In [18]:
int("")

ValueError: invalid literal for int() with base 10: ''

In [19]:
int("5")

5

## f-strings

En lugar de tener que convertir manualmente los números a cadenas para ensamblarlos con otras cadenas, podemos recurrir a f-strings que se definen simplemente añadiendo una ```f``` antes de la comilla de apertura de una cadena regular:

In [20]:
f"This is an f-string"

'This is an f-string'

Ahora podemos añadir variables directamente en este texto rodeándolas con llaves:

In [21]:
f"This is an f-string. a's value is {a}. Doubling the value of a gives {2*a}."

"This is an f-string. a's value is 5. Doubling the value of a gives 10."

Como puedes ver arriba, las f-strings pueden contener tantas variables como sea necesario y las llaves pueden contener más que solo una variable. Incluso podemos ejecutar funciones dentro de ellas:

In [22]:
f"The first_name variable contains {first_name.lower().count('r')} r letters."

'The first_name variable contains 2 r letters.'

# Ejercicio
El nombre y la fecha de nacimiento de [Marie Curie](https://en.wikipedia.org/wiki/Marie_Curie) están almacenados en variables. Concatena estos en una variable de cadena y imprímela. La salida debería ser "Marie Curie, * 7 November 1867"

In [23]:
first_name = "Marie"
last_name = "Curie"

birthday_day = 7
birthday_month = "November"
birthday_year = 1867